<!DOCTYPE html>
<html>
<head>
    <title>My Application</title>
</head>
<body>
    <h1>Hello, World!</h1>
    Result is {{result}}

    <form action="compute" method="post">
        <textarea name="string1" rows="10" cols="30"></textarea>
        <textarea name="string2" rows="10" cols="30"></textarea>
        <br>
        <textarea name="array1" rows="10" cols="30"></textarea>
        <textarea name="array2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
    </form>
</body>
</html>
